@font-face {
    font-family: HelveticaUltraCompressed;
    src: url("Helvetica-UltraCompressed.otf") format("opentype");
}
@font-face {
    font-family: HelveticaUltraCompressed;
    font-weight: normal;
    src: url("Helvetica-UltraCompressed.otf") format("opentype");
}

body {
    background-color: #000;
    margin: 0px;
    font-family: HelveticaUltraCompressed;
}

/* colors *************************************** */
.hellorange {
    background-color: #f7c64a;
}
.flieder {
    background-color: #cc99cc;
}
.orange {
    background-color: #ff9900;
}
.blaugrau {
    background-color: #9999cc;
}
.rotbraun {
    background-color: #cc6666;
}
.beige {
    background-color: #ffcc99;
}
.leuchtblau {
    background-color: #9999ff;
}
.apricot {
    background-color: #ff9966;
}
.pink {
    background-color: #cc6699;
}


/* background *********************************** */
.lcarspic {
    width: 1024px;
    height: 768px;
    background-image: url(lcars.png);
    opacity: 0.2;
}
/* content */
.lc_content {
    position: absolute;
    font-size: 48px;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}

/* left side ************************************ */
.margin-left {
    margin-left: 1px;
    height: 768px;
    width: 130px;
}
    .margin-1 {
        opacity: 1;
        margin-top: 1px;
        margin-bottom: 7px;
        width: 130px;
        height: 89px;
        font-size: 24px;
    }
    .margin-1 > div {
        padding-left: 100px;
        padding-top: 60px;
    }
    .margin-2 {
        margin-top: 1px;
        margin-bottom: 7px;
        width: 130px;
        height: 114px;
        font-size: 24px;
    }
        .margin-3a {
            height: 65px;
            width: 130px;
            border-radius: 130px 0px 0px 0px;
            margin-top: 9px;
        }
        .margin-3b {
            margin-top: 0px;
            margin-bottom: 7px;
            width: 130px;
            height: 49px;
            font-size: 24px;
        }
    .margin-4 {
        opacity: 1;
        margin-top: 1px;
        margin-bottom: 7px;
        width: 130px;
        height: 64px;
        font-size: 24px;
    }


    .margin-button {
        margin-top: 1px;
        margin-bottom: 7px;
        width: 130px;
        height: 38px;
    }



/* right side *********************************** */
.margin-left-2 {
    width: 894px;
}

/* right side top */
.margin-left-2__top {
    color: #fff;
    height: 210px;
    background-color: #f00;
    margin-top: 1px;
    margin-bottom: 9px;
}

/* right side bottom */
.margin-left-2__bottom {
    color: #fff;
    height: 545px;
/*    background-color: #0f0;
*/}
    .margin-left-2__bottom--top-margin {
        display: flex;
        display: -webkit-flex;
        display: -webkit-box;
    }
        .margin-left-2__bottom--top-margin-1 {
            height: 25px;
            width: 175px;
        }
    .margin-left-2__bottom--top {
        display: flex;
        display: -webkit-flex;
        display: -webkit-box;
    }
        .margin-left-2__bottom--top-left {
/*            background-color: #88f;
*/            width: 40px;
            height: 520px;
        }

            .rounded_corner__top-left_a {
                position: absolute;
                width: 20px;
                height: 20px;
            }
            .rounded_corner__top-left_b {
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 20px 0px 0px 0px;
                background-color: #000;
            }
        .margin-left-2__bottom--top-right {
            background-color: #0f0;
        }










